.DS_Store
node_modules/
.dist/
.resource/
.npm-debug.log*
.yarn-debug.log*
.yarn-error.log*
.idea/*
.vscode/*
debug.log
version.json
# Editor directories and files
.*.xml
.*.suo
.*.ntvs*
.*.njsproj
.*.sln
