#sheetPagePrint{
  overflow hidden
  .contant{
    margin 0 auto!important
    padding 20px 20px
    box-sizing content-box
    }
  .sheet-table {
      // width 1100px !important
      }
  .add-row {
      display none
    }
  .body-con {
    background #fff !important
  }
  input, textarea {
    color #000 !important;
  }
  .canSet{
    color #000
  }

td[datakey="signerNo"] {
  display: table-cell !important
}
td[datakey="sign"] {
  display none !important
}
// td[datakey="auditorNo"] {
//   display: table-cell !important
// }
td[datakey="audit"] {
  display none !important
}
td[datakey="auditorNo"] {
  display: none !important
}
th[dataname="护士签名"] {
  width 90px !important
}
th[dataname="审核签名"] {
  display none !important
}
.sign-img {
    width 100%
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width 0
      flex 1
      height: 30px;
      object-fit: contain;
      margin 0 -5px
    }
    span {
      font-size 20px;
      color #000
      margin 0 -1px
    }
  }
.no-print {
  display none !important;
}
.border-none {
  border: 0 !important;
}
.head-sign-text {
    display: none;
  }
  .head-sign-img {
     display: inline-block;
  }
 [datakey="description"] {
   text-align left
 }

}
@media print {
  #sheetPagePrint {
     .contant {
       box-shadow 0 0 0 !important
      //  padding 0 !important
      //  margin 80px 0 0 !important
      //  width 1100px !important
      margin 0 !important
      }
    .his-logo {
      top 0 !important
      left 0 !important
      }
    .header-con h1 {
      margin-top 0 !important
      }
      .iframe > div {
      page-break-after always
      padding-top 80px
      box-sizing border-box
    }

    .iframe > div:nth-of-type(2n) {
        transform:rotate(180deg)
      }
    }
}

@page {
  margin 0 10mm
}
