.birth-certificate {
  position: absolute;
  width: 100%;
  top: 60px;
  bottom: 0;

  .search-topbar {
    height: 41px;
    background-image: linear-gradient(-180deg, #f8f8fa 0%, #ebecf0 100%);
    border-bottom: 1px solid #cbd5dd;
    overflow: hidden;

    .title {
      font-size: 20px;
      display: inline-block;
      margin-left: 30px;
      margin-top: 20px;
    }

    .float-left {
      margin-top: 6px;
      margin-left: 10px;
      display: inline-block;

      h3 {
        font-size: 18px;
        line-height: 31px;
      }
    }

    .float-right {
      margin-top: 5px;
      margin-right: 10px;

      .search-el {
        width: 180px;
        display: inline-block;
      }
    }
  }

  .main-contain {
    position: absolute;
    top: 51px;
    bottom: 10px;
    left: 10px;
    right: 10px;

    .table-contain {
      position: absolute;
      top: 0;
      bottom: 41px;
      left: 0;
      right: 0;
    }

    .pagination {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: #eaeaea;
      border: 1px solid #cbd5dd;
      padding: 4px 15px;
      background: rgba(0, 0, 0, 0);
      z-index: 1;
    }
  }

  .el-table {

    th>.cell,
    th>div {
      padding: 0px;
      text-align: center;
    }

    td {
      &.rule-name {
        position: relative;

        .rule-name-content {
          position: absolute;
          line-height: 34px;
          left: 15px;
          right: 15px;
          top: 0;
          text-align: left;
          bottom: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      &.align-left div {
        text-align: left;
      }

      .sign-name {
        vertical-align: middle;
        display: inline-block;
        min-width: 52px;
        border-bottom: 1px solid #000;
        min-height: 15px;
        line-height: 15px;
        cursor: pointer;
      }

      .operate-span {
        color: #4bb08d;
        cursor: pointer;

        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}
