<div class="bed-box" @contextmenu.stop="HOSPITAL_ID == 'zhongshanqi' && openContextMenu($event,data)">
  <div class="like" @click.stop="toLike(data)" v-if="(HOSPITAL_ID == 'zhongshanqi'||HOSPITAL_ID == 'fuyou') && data.name">
    <img v-if="data.isFollow == '1'" src="../../../../../../common/images/card/like.png" height="18" width="18" />
    <img v-else src="../../../../../../common/images/card/liked.png" height="18" width="18" />
  </div>
  <div class="bed-box-inner" :class="{infectFlag: data.infectFlag == 1,bornFlag: data.bornFlag == 1}"
       :style="[data.bedLabel.includes('_') && data.patientId && (data.newBornOut ? {background: 'rgba(255, 207, 219, .5)'} : {background: '#D9F4FE'}), data.bornStatus === '送产房' && {background: '#FFBCBC'}]">
    <span @click="toInfo(data)" v-if="data.patientId">
      <div class="part-1">
        <div class="bed-label">
          <img src="../../images/婴儿2.png" alt="" class="ye" v-show="data.bedLabel.includes('_')"/>
            {{ data.bedLabel }}<span class="point-box" v-show="data.formLowestStatus != '2' && HOSPITAL_ID !== 'weixian'"
            :class="{red: data.formLowestStatus == 0, green: data.formLowestStatus == 1}"></span>
        </div>
      </div>
      <div class="part-2">
        <div :style="inToday(data.admissionDate) && {color:'red'}">
          {{ data.name }}
        </div>
      </div>
      <div class="part-3">{{ data.sex }} | {{ data.chargeType || "--" }}</div>
      <div class="part-4">
        <div class="table-name" v-for="item in (data.evalIcons &&  data.evalIcons.slice(0,6))" :key="item.formName"
             :title="item.description" :style="{background: item.iconTextRgb}" @click.stop="toFormPage(data, item)">
          <span>{{ item.iconText }}</span>
        </div>
      </div>

      <div class="label-con">
        <span v-for="(item, index) in data.conditionIconDtos" :key="index">
          <!-- <el-tooltip placement="top" effect="light" popper-class="custorm-tip">
            <div slot="content">
              <div class="head">详情</div>
              <div class="desc">{{item.content}}</div>
            </div> -->
          <div class="label-box" :style="{background: item.iconTextRgb}">
            <span v-if="item.showContent">{{ item.showContent }}</span>
            <span v-else>
              <span>{{
                  item.iconText[item.iconText.length - 1] == "离" ? "隔" :
                    item.iconText[item.iconText.length - 1]
                }}</span>
            </span>
          </div>
          <!-- </el-tooltip> -->
        </span>
        <!-- 妇幼添加共享床位 -->
        <span v-if="['fuyou'].includes(HOSPITAL_ID) && data && data.flagShare=='1'">
          <div class="label-box" :style="{background: '#00CCFF'}">
            <span>共</span>
          </div>
        </span>
      </div>

      <div class="patient-icon" v-if="HOSPITAL_ID === 'hj' &&  +data.registFlag === 1">
        <img src="./img.png" alt="">
      </div>

      <div class="bed-modal">
        <div flex="" class="table-line" v-if="HOSPITAL_ID == 'huadu'">
          <div class="key">床号：</div>
          <div class="value" style="width: 70px;">{{ data.bedLabel }}</div>
          <div class="key">住院号：</div>
          <div class="value">{{ data.patientId }}</div>
        </div>
        <div flex="" class="table-line" v-else>
          <div class="key">床号：</div>
          <div class="value" style="width: 70px;">{{ data.bedLabel }}</div>
          <div class="key" v-if="HOSPITAL_ID!='fuyou'">ID号：</div>
          <div class="value" v-if="HOSPITAL_ID!='fuyou'">{{ data.patientId }}</div>
        </div>
        <div flex="" class="table-line">
          <div class="key">姓名：</div>
          <div class="value" style="width: 70px;">{{ data.name }}</div>
          <div class="key">性&nbsp;别：</div>
          <div class="value">{{ data.sex }}</div>
        </div>
        <div flex="" class="table-line" v-if="HOSPITAL_ID == 'huadu'">
          <div class="key">年龄：</div>
          <div class="value" style="width: 70px;">{{ data.age }}</div>
          <div class="key">ID 号：</div>
          <div class="value">{{ data.inpNo }}</div>
        </div>
        <div flex="" class="table-line" v-else>
          <div class="key">年龄：</div>
          <div class="value" style="width: 70px;">{{ data.age }}</div>
          <div class="key">住院号：</div>
          <div class="value">{{ data.inpNo }}</div>
        </div>
        <div style="height: 5px"></div>
        <div flex="" class="table-line">
          <div class="key">入院时间：</div>
          <div class="value">{{ data.admissionDate }}</div>
        </div>
        <div flex="" class="table-line" v-if="data.operationDay">
          <div class="key">术后天数：</div>
          <div class="value">{{ data.operationDay }}天</div>
        </div>
        <div flex="" class="table-line">
          <div class="key">诊&nbsp;&nbsp;断：</div>
          <div class="value" flex-box="1" style="width: 0">
            {{ data.diagnosis }}
          </div>
        </div>
        <div flex="" class="table-line">
          <div class="key">临床科室：</div>
          <div class="value">{{ data.deptName }}</div>
        </div>
        <div flex="" class="table-line">
          <div class="key">主管医生：</div>
          <div class="value">{{ data.doctorInCharge }}</div>
        </div>
        <div flex="" class="table-line" v-if="data.glFlag">
          <div class="key">隔&nbsp;&nbsp;离：</div>
          <div class="value">{{ data.glFlag }}</div>
        </div>
        <div flex="" class="table-line" v-if="data.deptLend">
          <div class="key">借&nbsp;&nbsp;床：</div>
          <div class="value">{{ data.deptLend }}</div>
        </div>

        <div style="height: 5px"></div>

        <div flex="" class="table-line">
          <div class="key">饮&nbsp;食：</div>
          <div class="value" style="width: 50px;">{{ data.foodAnDrink }}</div>
          <div class="key">护理级别：</div>
          <div class="value">{{ data.nursingClass }}</div>
        </div>

        <div flex="" class="table-line">
          <div class="key">体&nbsp;重：</div>
          <!-- <div class="value" style="width: 50px;">{{ data.weight && data.weight!='' ? data.weight:'' }}</div> -->
          <div class="value" style="width: 50px;">{{ data.weight | filterWeight }}</div>
          <div class="key">身&nbsp;高：</div>
          <div class="value">{{ data.height }}</div>
        </div>

        <div flex="" class="table-line">
          <div class="key">过敏史：</div>
          <div class="value" flex-box="1" style="width: 0; color: #FE0000">
            {{ data.drugGms }}
          </div>
        </div>

        <div style="height: 5px"></div>

        <div flex="" class="table-line">
          <div class="key">医保类型：</div>
          <div class="value">{{ data.chargeType }}</div>
        </div>

        <div flex="" class="table-line" v-if="!['guizhou', '925'].includes(HOSPITAL_ID)">
          <div class="key">预 交 金：</div>
          <div class="value">{{ data.prepayments }}</div>
        </div>

        <div flex="" class="table-line" v-if="!['guizhou', '925'].includes(HOSPITAL_ID)">
          <div class="key">费用合计：</div>
          <div class="value">{{ data.totalCosts }}</div>
        </div>

      </div>

      <div class="xinru" :style="{borderColor: `${data.nursingClassColor} transparent`}"></div>

      <div class="deptLend" v-if="data.deptLend && HOSPITAL_ID == 'fuyou'"></div>
      <div class="deptLend" v-else-if="data.deptLend">借</div>
    </span>
    <div v-else-if="data.name" class="null-bed">
      <span class="bao-text">{{ data.name }}</span>
      <div class="null-bedLabel">{{ data.bedLabel }}</div>
    </div>
    <div v-else class="null-bed">
      <img src="../../../../../../common/images/card/空床.png"/>
      <div class="null-bedLabel">{{ data.bedLabel }}</div>
    </div>
  </div>
</div>
