.tool-contain
  background-image: linear-gradient(-180deg, #F8F8FA 0%, #EBECF0 100%);
  border-bottom: 1px solid #CBD5DD;
  height 40px
  z-index 2
  position relative
  .item-box:first-child
    margin-left 5px
  .item-box
    font-size: 12px;
    color: #333333;
    border-right 1px solid #d4d4d4
    cursor pointer
    background: #FFFFFF;
    border: 1px solid #CBD5DD;
    border-radius: 2px;
    // min-width 60px
    flex: 1 0 60px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    height 26px
    margin-left 5px
    padding 0 5px
    >>> .el-input__icon
      pointer-events: none
    &.disabled
      color #999 !important;
      pointer-events none
      i
        color #999 !important;
    &:hover
      font-weight bold
      .icon-box
        background #fafafa
    // &.right-btn
    //   background: transparent
    //   border: 0
    //   color: blue
    .icon-box
      height 20px
      line-height 18px
      background #fff
      // box-shadow: 0 0 1px 0 rgba(0,0,0,0.50);
      border 1px solid #CBD5DD
      border-radius: 4px;
      padding 0 8px
      box-sizing border-box
      transform scale(.9, .9)
      margin-right 4px
      i
        font-size 12px
        font-weight normal !important
.switch-box
  margin-right 13px

.select-con
  >>>.el-input__inner
    width 225px
    height 28px
    background: #FFFFFF;
    border: 1px solid #CBD5DD;
    border-radius: 2px;
    font-size 12px
    padding-left: 10px
    padding-right 30px


.right-btn {
  font-size: 12px;
  height 30px
  display: flex
  align-items: center
  justify-content: center
  color: #1D6F86;
  cursor pointer
  width: 85px
  white-space: nowrap;
  .text-con {
    height 18px;
  }
  &:hover {
    font-weight: bold;
  }
  img {
    position relative
    top 3px;
  }
}

.line {
  height 12px;
  width 1px
  background: #B9B9B9;
}
