.sheet-page-container, .sheet-excel-container, .sheet-page-container-neonatology {
  .red-border {
    border 2px solid red !important
  }
  
  .icu_lc {
    input,textarea {
      font-size: 14px !important;
    }
  }
  .normal {
    font-size: 12px !important;
  }
  .specialFontSize {
    font-size: 14px !important;
  }
  .sheet-table {
    margin: 15px auto !important;
    border-collapse: collapse;
    margin: 15px 0px;
    font-size: 12px;
    color: #000;
   
    &, tr, td, th {
      border: 1px solid #444444;
    }

    .head-con {
      background: #f4f2f5;
    }
    #bigFonstSize span{
      font-size:14px;
    }
    td, th {
      height: 30px;
      text-align: center;
      vertical-align: middle;
      line-height: 14px;
      position: relative;
    }

    .th {
      padding: 2px;
    }

    span {
      font-size: 12px;
    }

    .body-con {
      height: 29px;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
    }
  }
  & .tableTd-14{
      margin: 10px auto !important;
      td{
        line-height: 12px;
      }
    }
  .head-con {
    th {
      height: 26px;
      word-wrap:break-word;
    }
  }

  .canSet {
    color: #284FC2;
    cursor: pointer;
    word-wrap:break-word;

    &:hover {
      background: #fafafa;
    }
  }

  .sheet-table .body-con:nth-of-type(2n - 1) {
    background: #f4f2f5;
  }

  .sheet-table .body-con {
    textarea {
      overflow: hidden;
      line-height: 29px;
      height: 100% !important;
      width: 100% !important;
      max-height: 27px;
      resize: none;
      position: relative;
      top: 1px;
    }

    .maxHeight56 {
      overflow: hidden;
      line-height: 56px;
      height: 100% !important;
      width: 100% !important;
      max-height: 56px;
      resize: none;
      position: relative;
      top: 1px;
    }

    .maxHeight40 {
      overflow: hidden;
      line-height: 40px;
      height: 100% !important;
      width: 100% !important;
      max-height: 40px;
      resize: none;
      position: relative;
      top: 1px;
    }

    input, textarea {
      width: calc(100% - 2px);
      border: 0 !important;
      padding: 0;
      height: calc(100% - 2px);
      box-sizing: border-box !important;
      outline: none !important;
      text-align: center;
      background: transparent;
      color: #000;
      font-size: 12px;

      &:focus {
        // background: #EEF6F5
        background: rgb(228, 241, 240);
      }
    }

    &:hover, &.selectedRow {
      background: #e6e6e6;
    }

    &.disable {
      color: #999;
      cursor: auto;
    }

    &.stripeRow {
      td {
        background: #FAFAFA;
      }
    }

    &.selectRow {
      td {
        background: #e4f1f0;
      }
    }

    &.clickRow {
      td {
        background: #FFF8B1;
      }
    }

    .mark-cell-status-0 {
      background: rgba(185, 89, 255, 0.6);
    }

    .mark-cell-status-1 {
       background: rgba(208, 196, 79, 0.6);
    }

    &.mark-cell-status-0 {
      background: rgba(185, 89, 255, 0.4);
    }

    &.mark-cell-status-1 {
      background: rgba(208, 196, 79, 0.4);
    }

    .mark-cell-1 {
      background: rgba(185, 89, 255, 0.6);
    }

    .mark-cell-2 {
      background: rgba(48, 163, 255, 0.6);
    }

    .mark-cell-3 {
      background: rgba(162, 131, 94, 0.6);
    }

    .mark-cell-4 {
      background: rgba(208, 196, 79, 0.6);
    }

    .mark-cell-5 {
      background: rgba(80, 208, 101, 0.6);
    }

    &.mark-row-1 {
      background: rgba(185, 89, 255, 0.4);
    }

    &.mark-row-2 {
      background: rgba(48, 163, 255, 0.4);
    }

    &.mark-row-3 {
      background: rgba(162, 131, 94, 0.4);
    }

    &.mark-row-4 {
      background: rgba(208, 196, 79, 0.4);
    }

    &.mark-row-5 {
      background: rgba(80, 208, 101, 0.4);
    }
    &.redBottom{
      border-bottom:  2px solid red;
    }
    &.redText {
      input, textarea  {
        color: red;
        cursor: pointer;
      }
      .stat-bottom-line {
        // position relative
        &::after {
          content: '';
          position: absolute
          left: 10%;s
          bottom: 2px;
          width: 80%;
          border-bottom: 3px double red;
        }
      }
    }
    &.redTop{
      border-top:  2px solid red
    }
    &.blackTop{
      border-top:  2px solid #000
    }

    &.selectedTr {
      td {
        background: #FFF8B1;
      }
    }
  }

  .no-wrap {
    white-space: nowrap;
  }

  .table-footer {
    font-size: 12px;
    color: #000;
    text-align: center;
    margin: 10px 0;
    position: relative;

    .sh-name {
      position: absolute;
      right: 150px;
      top: -10px;
      display: flex;
      align-items: center;
      min-height: 30px;
    }
    .sh-time{
      right: 0px;
    }
    .zg-name {
      position: absolute;
      left: 50px;
      top: -10px;
      height: 30px;
      display: flex;
      align-items: center;
      .sign-img-con {
        width: 70px;
        height: 30px;
        font-size: 12px;
        margin-right: 14px;
        cursor: pointer;
        display: flex;
        align-items: center;
        .head-sign-text {
          height: 28px;
          line-height: 28px;
        }
        .head-sign-img {
          display: none;
          height: 30px;
          line-height: 30px;
        }
      }
      .sign-img-con:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
    }
  }

  .add-row {
    color: blue;
    float: right;
    font-size: 12px;
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }
  }

  .sign-text {
    min-width: 52px;
    max-width: 52px;
    cursor: pointer;
    height: 26px;
    line-height: 26px;
    display:inline-block;
  }

  td[datakey='signerNo'] {
    display: none;
  }

  td[datakey='sign'] {
    display: table-cell;
  }

  td[datakey='auditorNo'] {
    display: none;
  }

  td[datakey='audit'] {
    display: table-cell;
  }

  .towLine {
    line-height: 14px !important;
  }
  .table-fixed-th {
    display none
    border:  0
  }
  table.isFixed {
    display block
    position: fixed
    top 56px
    z-index 1
    &.isInPatientDetails {
      top: 45px
    }
  }
  .sh-name-box {
    position relative;
    .sign-null-box {
      position absolute;
      width 52px;
      height 30px;
      cursor pointer
      top: 0;
      right: -48px;
      bottom: 0;
      margin: auto;
    }
    .sign-in-box {
      min-width 52px;
      height 30px;
      cursor pointer
      top: 0;
      right: -48px;
      bottom: 0;
      margin: auto;
      object-fit: cover;
      .audit-text {
        line-height: 30px;
      }
      .audit-img {
        min-width: 52px;
        max-width: 52px;
        display none
        object-fit: cover;
        padding-bottom: 2px;
      }
    }
  }
  .access-select {
    height: 100%;
     div {
      height: 100% !important;
    }
  }
  .xiegangSignImg{
    transform: scale(0.8)
  }
}

.identification-first,
.identification-middle,
.identification-only-one,
.identification-last
{
  width:40px;
  height:25px;
  position: absolute;
  top: 50%;
  color:blue;
  transform: translate(2px, -50%);
}

.identification-first{
  box-sizing:border-box;
  padding-left: 12px;
  background:url('../../../../images/left-top.png') no-repeat;
  right: -3px;

}

.identification-middle{
  background:url('../../../../images/left-middle.png') no-repeat;
  right: -3px;
}

.identification-last{
  background:url('../../../../images/left-last.png') no-repeat;
  right: -3px;
}

.identification-only-one{
  box-sizing:border-box;
  // padding-left: 12px;
  // background:url('../../../../images/left-only.png') no-repeat;
   right: 0px;
}

.identification-usage{
  
}