/** 全局的css 必须在这里引入不然打包会忽略 */
*{
  // font-family: 'SimSun',"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif !important;
  font-family: simsun, "Times New Roman", Georgia, Serif !important
  word-wrap:break-word
  word-break:break-all
}
