<div class="puerperant-situation">
  <div class="search-topbar">
    <div class="float-left">
      <h3>产科分娩登记表</h3>
    </div>
    <div class="float-right">
      <span class="type-label">分娩时间:</span>
      <span class="type-content">
        <el-date-picker type="datetime" format="yyyy-MM-dd HH:mm:ss" @change="handleDateChange" v-model="query.startDate" :clearable="false" style="width:180px;" />
        <span> - </span>
        <el-date-picker type="datetime" format="yyyy-MM-dd HH:mm:ss" @change="handleDateChange" v-model="query.endDate" :clearable="false" style="width:180px;" />
      </span>
      <span class="type-label">筛选条件:</span>
      <span class="type-content">
        <el-select v-model="query.selectContent" @change="handleSearch">
          <el-option value=""></el-option>
          <el-option v-for="(item,idx) in filterOptions" :key="idx" :value="item.code" :label="item.name"></el-option>
        </el-select>
      </span>
      <span class="search-el">
        <el-input placeholder="姓名/住院号" v-model="query.searchingContent" @blur="handleSearch" />
      </span>
      <span class="search-el" style="width: 90px;">
        <el-input placeholder="接生者工号" v-model="query.birthAttendantId1" @blur="handleSearch" />
      </span>
      <el-button @click="handleSearch">查询</el-button>
      <el-button @click="handleCreate">新建记录</el-button>
    </div>
  </div>
  <div class="main-contain"
    v-loading="tableLoading">
    <div class="table-contain">
      <IviewTable
        :row-class-name="rowClassName"
        :columns="columns"
        border
        :data="tableData"
        :span-method="handleSpan"
        :height="tableHeight" />
    </div>
    <customPagenation :page.sync="query.pageIndex" :size.sync="query.pageSize" :total="fileTotal"
      @sizeChange="handleSizeChange" @currentChange="handleCurrentChange" />
  </div>
  <editModal :value.sync="editCfg.value" :title="editCfg.title" :name="editCfg.name" :type="editCfg.type"
    :options="editCfg.options" :visible.sync="editCfg.visible" @onOk="handleEditOk" />
  <createModal :visible.sync="createVisible" @onOk="handleCreateOk" />
  <!-- <vue-context-menu :contextMenuData="contextMenuData" @savedata="saveData" @deleteRow="deleteRow" /> -->
</div>
