<div>
  <sweet-modal ref="modal" size="small" v-model="dialogVisible" :modalWidth="400" title="新建出生医学证明" @close="handleClose"
    class="birth-certificate-create-modal">
    <div class="model-content">
      <div class="search">
        姓名：
        <div class="content">
          <el-select v-model="searchingContent" placeholder="产妇姓名/床号/病人ID/住院号" filterable
            :filter-method="patientsFilterMethod" @change="handlePatinentChange">
            <template v-for="(item,idx) in patientListFiltered">
              <el-option :key="idx" v-if="patientOptionVisible(item,filterSearch)" :label="item.name"
                :value="item.name+' '+item.patientId">
                <div>
                  <div style="float: left;">{{item.name}}</div>
                  <div style="float: right;">{{item.bedLabel}}床</div>
                </div>
              </el-option>
            </template>
          </el-select>
        </div>
      </div>
      <div class="searchResult">
        <div v-if="puerperaInfo.name"> <span
            style="margin-right: 50px;">{{puerperaInfo.name}}</span><span>{{puerperaInfo.bedLabel}}床</span></div>
      </div>
    </div>

    <div slot="button">
      <el-button @click="handleSave" type="primary" :disabled="saveLoading">创建</el-button>
      <el-button @click="handleClose" :disabled="saveLoading">取消</el-button>
    </div>
  </sweet-modal>
</div>
