html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: #F2F2F2;
  font-family: SimSun,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
  transition: background 0.5s;
}

#wrapper {
  height: 100%;
}

div {
  box-sizing: border-box;
}

body.white {
  background: white;
}

.template {
  display: none;
}

.tr {
  text-align: right !important;
}

.paper {
  position: relative;
  margin: 20px auto;
  padding: 20px 20px 50px 20px;
  width: 700px;
  min-height: 1040px;
  background: white;
  box-shadow: 0 5px 9px 0 rgba(0,0,0,.5);
}

.header {
  position: relative;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 44px;
}

.title {
  padding-top: 10px;
  font-size: 22px;
  text-align: center;
  letter-spacing: 1px;
}

.sub-title {
  margin-top: 12px;
  font-size: 18px;
  text-align: center;
}

.details {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 13px;
  white-space: nowrap;
}

.details table {
  width: 100%;
}

.details span {
  display: inline-block;
}

.container {
  overflow: hidden;
  font-size: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.clear {
  clear: both;
}

.left,
.right {
  float: left;
  width: 49%;
  margin-top: -1px;
  margin-bottom: -1px;
}

.sep {
  float: left;
  width: 2%;
  height: 100px;
}

.table {
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #000;
  text-align: center;
  vertical-align: middle;
}

.table th {
  height: 40px;
  font-size: 13px;
  font-weight: 700;
  background: #f4f2f5;
}

.table td {
  padding: 0 4px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
}

.page {
  position: absolute;
  left: 0;
  _left: 20px;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 13px;
}

.chart {
  width: 100%;
  height: 100%;
}

.actions {
  position: fixed;
  _position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  width: 100px;
}

.actions button {
  margin-right: 8px;
  padding: 0 18px;
  height: 30px;
  width: 100%;
  background: #fff;
  border: 1px solid #cbd5dd;
  box-shadow: 0 1px 2px 0 hsla(0,0%,78%,.5);
  border-radius: 2px;
  text-align: center;
  font-size: 12px;
  color: #687179;
  cursor: pointer;
  outline: none;
  transition: background 0.3s;
}

.actions button:hover {
  background: #f8f8f8;
}

.actions button:active {
  background: #bfc2c5;
}
