<div class="birth-certificate">
  <div class="search-topbar">
    <div class="float-left">
      <h3>出生医学证明</h3>
    </div>
    <div class="float-right">
      <span class="type-label">接生日期:</span>
      <span class="type-content">
        <el-date-picker @change="handleDateChange" v-model="query.beginTime" :clearable="false" style="width:120px;" />
        <span> - </span>
        <el-date-picker @change="handleDateChange" v-model="query.endTime" :clearable="false" style="width:120px;" />
      </span>
      <span class="search-el">
        <el-input placeholder="请输入产妇姓名或id" v-model="query.keyWord" @blur="handleSearch" />
      </span>
      <el-button @click="handleSearch">查询</el-button>
      <el-button @click="handleCreate">新建记录</el-button>
    </div>
  </div>
  <div class="main-contain" v-loading="tableLoading">
    <div class="table-contain">
      <IviewTable :row-class-name="rowClassName" :columns="columns" border :data="tableData" :span-method="handleSpan"
        :height="tableHeight" />
    </div>
    <customPagenation :page.sync="query.pageIndex" :size.sync="query.pageSize" :total="fileTotal"
      @sizeChange="handleSizeChange" @currentChange="handleCurrentChange" />
  </div>
  <editModal :value.sync="editCfg.value" :title="editCfg.title" :name="editCfg.name" :type="editCfg.type"
    :options="editCfg.options" :visible.sync="editCfg.visible" @onOk="handleEditOk" />
  <createModal :visible.sync="createVisible" @onOk="handleCreateOk" />
  <!-- <vue-context-menu :contextMenuData="contextMenuData" @savedata="saveData" @deleteRow="deleteRow" /> -->
</div>
