<div class="puerperant-situation">
  <div class="search-topbar">
    <div class="float-left">
      <h3>出生医学证明</h3>
    </div>
    <div class="float-right">
      <span class="type-label">接生日期:</span>
      <span class="type-content">
        <el-date-picker @change="handleDateChange" v-model="query.beginTime" :clearable="false" style="width:120px;" />
        <span> - </span>
        <el-date-picker @change="handleDateChange" v-model="query.endTime" :clearable="false" style="width:120px;" />
      </span>
      <span class="search-el">
        <el-input placeholder="请输入产妇姓名或id" v-model="query.keyWord" @blur="handleSearch" />
      </span>
      <el-button @click="handleSearch">查询</el-button>
      <el-button @click="handleCreate">新建记录</el-button>
    </div>
  </div>
  <div class="main-contain">
    <div class="table-contain">
      <ecrm-table :data="tableData" :span-method="objectSpanMethod" border :row-class-name="rowClassName"
        :height="tableHeight" @cell-click="handleCellClick" v-loading="tableLoading" style="width: 100%;">
        <ecrm-table-column prop="zyblh" label="住院号" width="100" fixed="left">
          <template slot-scope="scope">
            <span v-if="scope.$index%2==0">
              <el-input resize="none" type="textarea" @blur="handleEditDone(scope.$index,'zyblh')"
                :autosize="{ minRows: 1}" v-model="scope.row.zyblh" />
            </span>
            <span v-else></span>
          </template>
        </ecrm-table-column>
        <ecrm-table-column prop="patientId" label="ID" width="134" fixed="left">
          <template slot-scope="scope">
            <span v-if="scope.$index%2==0">
              <el-input resize="none" type="textarea" @blur="handleEditDone(scope.$index,'patientId')"
                :autosize="{ minRows: 1}" v-model="scope.row.patientId" />
            </span>
          </template>
        </ecrm-table-column>
        <ecrm-table-column prop="cfxm" label="产妇姓名" width="134" fixed="left">
          <template slot-scope="scope">
            <span v-if="scope.$index%2==0">
              <el-input resize="none" type="textarea" @blur="handleEditDone(scope.$index,'cfxm')"
                :autosize="{ minRows: 1}" v-model="scope.row.cfxm" />
            </span>
          </template>
        </ecrm-table-column>
        <ecrm-table-column prop="cssj" label="接生日期" width="134" fixed="left">
          <template slot-scope="scope">
            <span v-if="scope.$index%2==0">
              <el-input resize="none" type="textarea" @blur="handleEditDone(scope.$index,'cssj')"
                :autosize="{ minRows: 1}" v-model="scope.row.cssj" />
            </span>
          </template>
        </ecrm-table-column>
        <ecrm-table-column label="新生儿情况" align="center">
          <ecrm-table-column label="新生儿性别" prop="xsexb" width="100" align="center">
            <template slot-scope="scope">
              <span v-if="scope.$index%2==0">
                <el-select class="align-center" v-model="scope.row.xsexb"
                  @change="()=>handleEditDone(scope.$index,'xsexb')" placeholder=" ">
                  <el-option v-for="(item,idx) in sexOptions" :key="idx" :value="item" :label="item"></el-option>
                </el-select>
              </span>

            </template>
          </ecrm-table-column>
          <ecrm-table-column label="出生时间" prop="cssj" width="100" align="center">
            <template slot-scope="scope">
              <span v-if="scope.$index%2==0">
                <el-input resize="none" type="textarea" @blur="handleEditDone(scope.$index,'cssj')"
                  :autosize="{ minRows: 1}" v-model="scope.row.cssj" /></span>

            </template>
          </ecrm-table-column>
          <ecrm-table-column label="出生孕周" prop="csyz" width="80" align="center">
            <template slot-scope="scope">
              <span v-if="scope.$index%2==0">
                <el-input resize="none" type="textarea" @blur="handleEditDone(scope.$index,'csyz')"
                  :autosize="{ minRows: 1}" v-model="scope.row.csyz" />
              </span>

            </template>
          </ecrm-table-column>
          <ecrm-table-column label="出生体重" prop="cstz" width="100" align="center">
            <template slot-scope="scope">
              <span v-if="scope.$index%2==0">
                <el-input resize="none" type="textarea" @blur="handleEditDone(scope.$index,'cstz')"
                  :autosize="{ minRows: 1}" v-model="scope.row.cstz" />
              </span>

            </template>
          </ecrm-table-column>
          <ecrm-table-column label="出生身长" prop="cssc" width="80" align="center">
            <template slot-scope="scope">
              <span v-if="scope.$index%2==0">
                <el-input resize="none" type="textarea" @blur="handleEditDone(scope.$index,'cssc')"
                  :autosize="{ minRows: 1}" v-model="scope.row.cssc" />
              </span>


            </template>
          </ecrm-table-column>
          <ecrm-table-column label="出生地点" width="400" align="center">
            <template slot-scope="scope">
              <span v-if="scope.$index%2==0">
                <el-input resize="none" type="textarea" @blur="handleEditDone(scope.$index,'csddOne')"
                  :autosize="{ minRows: 1}" v-model="scope.row.csddOne" style="width: 70px;" /> <span
                  style="line-height: 33px;">省（区、市）</span>
                <el-input resize="none" type="textarea" @blur="handleEditDone(scope.$index,'csddTwo')"
                  :autosize="{ minRows: 1}" v-model="scope.row.csddTwo" style="width: 70px;" /><span
                  style="line-height: 33px;">市</span>
                <el-input resize="none" type="textarea" @blur="handleEditDone(scope.$index,'csddThree')"
                  :autosize="{ minRows: 1}" v-model="scope.row.csddThree" style="width: 70px;" /><span
                  style="line-height: 33px;">县（区）</span>
              </span>

            </template>
          </ecrm-table-column>
          <ecrm-table-column label="医疗机构名称" prop="yljgmc" width="120" align="center">
            <template slot-scope="scope">
              <span v-if="scope.$index%2==0">
                <el-input resize="none" type="textarea" @blur="handleEditDone(scope.$index,'yljgmc')"
                  :autosize="{ minRows: 1}" v-model="scope.row.yljgmc" />
              </span>


            </template>
          </ecrm-table-column>
        </ecrm-table-column>
        <ecrm-table-column label="父母相关信息" align="center">
          <ecrm-table-column label="姓名" width="150" fixed="left">
            <template slot-scope="scope">
              <span style="margin-left:6px;display: block;" v-if="scope.$index%2==0">母亲：
                <el-input resize="none" type="textarea" @blur="handleEditDone(scope.$index,'mqxxXm')"
                  style="display: inline-block;vertical-align: middle;width:74px;" :autosize="{ minRows: 1}"
                  v-model="scope.row.mqxxXm" /></span>

              <span style="margin-left:6px;display: block;" v-else>父亲：
                <el-input resize="none" type="textarea" @blur="handleEditDone(scope.$index,'fqxxXm')"
                  style="display: inline-block;vertical-align: middle;width:74px;" :autosize="{ minRows: 1}"
                  v-model="scope.row.fqxxXm" /></span>

            </template>
          </ecrm-table-column>

          <ecrm-table-column prop="femaleAge" label="年龄" width="60">
            <template slot-scope="scope">
              <span v-if="scope.$index%2==0">
                <el-input resize="none" type="textarea" :class="'mqxxNl'+scope.$index"
                  @change="(val)=>handleNumInput(val,scope.$index,'mqxxNl')"
                  @blur="handleEditDone(scope.$index,'mqxxNl')" :autosize="{ minRows: 1}" v-model="scope.row.mqxxNl" />
              </span>
              <span v-else>
                <el-input resize="none" type="textarea" :class="'fqxxNl'+scope.$index"
                  @change="(val)=>handleNumInput(val,scope.$index,'fqxxNl')"
                  @blur="handleEditDone(scope.$index,'fqxxNl')" :autosize="{ minRows: 1}" :value="scope.row.fqxxNl" />
              </span>
            </template>
          </ecrm-table-column>
          <ecrm-table-column prop="mqxxGj" label="国籍" width="120">
            <template slot-scope="scope">
              <span v-if="scope.$index%2==0">
                <el-input resize="none" type="textarea" @blur="handleEditDone(scope.$index,'mqxxGj')"
                  :autosize="{ minRows: 1}" v-model="scope.row.mqxxGj" />
              </span>
              <span v-else>
                <el-input resize="none" type="textarea" @blur="handleEditDone(scope.$index,'fqxxGj')"
                  :autosize="{ minRows: 1}" v-model="scope.row.fqxxGj" />
              </span>
            </template>
          </ecrm-table-column>
          <ecrm-table-column prop="mqxxMz" label="民族" width="120">
            <template slot-scope="scope">
              <span v-if="scope.$index%2==0">
                <el-input resize="none" type="textarea" @blur="handleEditDone(scope.$index,'mqxxMz')"
                  :autosize="{ minRows: 1}" v-model="scope.row.mqxxMz" />
              </span>
              <span v-else>
                <el-input resize="none" type="textarea" @blur="handleEditDone(scope.$index,'fqxxMz')"
                  :autosize="{ minRows: 1}" v-model="scope.row.fqxxMz" />
              </span>
            </template>
          </ecrm-table-column>
          <ecrm-table-column prop="mqxxYxsfzjlb" label="证件类别" width="120">
            <template slot-scope="scope">
              <span v-if="scope.$index%2==0">
                <el-input resize="none" type="textarea" @blur="handleEditDone(scope.$index,'mqxxYxsfzjlb')"
                  :autosize="{ minRows: 1}" v-model="scope.row.mqxxYxsfzjlb" />
              </span>
              <span v-else>
                <el-input resize="none" type="textarea" @blur="handleEditDone(scope.$index,'fqxxYxsfzjlb')"
                  :autosize="{ minRows: 1}" v-model="scope.row.fqxxYxsfzjlb" />
              </span>
            </template>
          </ecrm-table-column>
          <ecrm-table-column prop="mqxxYxsfzjhm" label="身份证件号码" width="160">
            <template slot-scope="scope">
              <span v-if="scope.$index%2==0">
                <el-input resize="none" type="textarea" @blur="handleEditDone(scope.$index,'mqxxYxsfzjhm')"
                  :autosize="{ minRows: 1}" v-model="scope.row.mqxxYxsfzjhm" />
              </span>
              <span v-else>
                <el-input resize="none" type="textarea" @blur="handleEditDone(scope.$index,'fqxxYxsfzjhm')"
                  :autosize="{ minRows: 1}" v-model="scope.row.fqxxYxsfzjhm" />
              </span>
            </template>
          </ecrm-table-column>
          <ecrm-table-column prop="mqxxHjdz" label="户籍地址" width="210">
            <template slot-scope="scope">
              <span v-if="scope.$index%2==0">
                <el-input resize="none" type="textarea" @blur="handleEditDone(scope.$index,'mqxxHjdz')"
                  :autosize="{ minRows: 1}" v-model="scope.row.mqxxHjdz" />
              </span>
              <span v-else>
                <el-input resize="none" type="textarea" @blur="handleEditDone(scope.$index,'fqxxHjdz')"
                  :autosize="{ minRows: 1}" v-model="scope.row.fqxxHjdz" />
              </span>
            </template>
          </ecrm-table-column>
        </ecrm-table-column>
        <ecrm-table-column label="接生人员签字" prop="接生人员签字" width="120" align="center">
          <template slot-scope="scope">
            <span class="sign-name" @click="()=>handleSign(scope.row,'jsryqzName')">{{scope.row.jsryqzName||''}}</span>
          </template>
        </ecrm-table-column>
        <ecrm-table-column label="操作" align="center" fixed="right" width="120">
          <template slot-scope="scope">
            <span @click="()=>seeRecord(scope.row)" class="operate-span">查看</span>
            <span @click="()=>deleteRecord(scope.row)" class="operate-span">删除</span>
          </template>
        </ecrm-table-column>
      </ecrm-table>
    </div>
    <customPagenation :page.sync="query.pageIndex" :size.sync="query.pageSize" :total="fileTotal"
      @sizeChange="handleSizeChange" @currentChange="handleCurrentChange" />
  </div>
  <editModal :value.sync="editCfg.value" :title="editCfg.title" :name="editCfg.name" :type="editCfg.type"
    :options="editCfg.options" :visible.sync="editCfg.visible" @onOk="handleEditOk" />
  <createModal :visible.sync="createVisible" :query.sync="query" @onOk="handleCreateOk" />
  <!-- <vue-context-menu :contextMenuData="contextMenuData" @savedata="saveData" @deleteRow="deleteRow" /> -->
</div>
