.deep-page-container {
  .sheet-table {
    border-collapse: collapse;
    margin: -1px 0px 15px;
    font-size: 12px;
    color: #000;

    &, tr, td, th {
      border: 1px solid #444444;
    }

    .head-con {
      background: #f4f2f5;
    }

    td, th {
      height: 29px;
      text-align: center;
      vertical-align: middle;
      line-height: 14px;
      position: relative;
    }
    th {
      padding: 5px 2px;
      span {
        font-size: 12px;
      }
    }

    .body-con {
      height: 29px;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
    }
  }

  .canSet {
    color: #284FC2;
    cursor: pointer;

    &:hover {
      background: #fafafa;
    }
  }

  .sheet-table tr.body-con:nth-of-type(2n) {
    background: #f4f2f5;
  }

  .sheet-table .body-con {
    textarea {
      overflow: hidden;
      line-height: 26px;
      height: 100% !important;
      width: 100% !important;
      max-height: 26px;
      resize: none;
      position: relative;
      top: 2px;
    }

    input, textarea {
      width: calc(100% - 2px);
      border: 0 !important;
      padding: 0 !important;
      height: calc(100% - 2px);
      box-sizing: border-box !important;
      outline: none !important;
      text-align: center;
      background: transparent;
      color: #000;
      font-size: 12px;

      &:focus {
        // background: #EEF6F5
        background: rgb(228, 241, 240);
      }
    }

    &:hover, &.selectedRow {
      background: #e6e6e6;
    }

    &.disable {
      color: #999;
      cursor: auto;
    }

    &.stripeRow {
      td {
        background: #FAFAFA;
      }
    }

    &.selectRow {
      td {
        background: #e4f1f0;
      }
    }

    &.selectedTr {
      td {
        background: #FFF8B1;
      }
    }


    .mark-cell-status-0 {
      background: rgba(185, 89, 255, 0.6);
    }

    .mark-cell-status-1 {
       background: rgba(208, 196, 79, 0.6);
    }

    &.mark-cell-status-0 {
      background: rgba(185, 89, 255, 0.4);
    }

    &.mark-cell-status-1 {
      background: rgba(208, 196, 79, 0.4);
    }


    .mark-cell-1 {
      background: rgba(185, 89, 255, 0.6) !important;
    }

    .mark-cell-2 {
      background: rgba(48, 163, 255, 0.6) !important;
    }

    .mark-cell-3 {
      background: rgba(162, 131, 94, 0.6) !important;
    }

    .mark-cell-4 {
      background: rgba(208, 196, 79, 0.6) !important;
    }

    .mark-cell-5 {
      background: rgba(80, 208, 101, 0.6) !important;
    }

    &.mark-row-1 {
      background: rgba(185, 89, 255, 0.4) !important;
    }

    &.mark-row-2 {
      background: rgba(48, 163, 255, 0.4) !important;
    }

    &.mark-row-3 {
      background: rgba(162, 131, 94, 0.4) !important;
    }

    &.mark-row-4 {
      background: rgba(208, 196, 79, 0.4) !important;
    }

    &.mark-row-5 {
      background: rgba(80, 208, 101, 0.4) !important;
    }

    &.redText {
      input {
        color: #E62C2C;
        cursor: pointer;
      }
    }
  }

  .no-wrap {
    white-space: nowrap;
  }

  .table-footer {
    font-size: 12px;
    color: #000;
    text-align: center;
    margin: 10px 0 0;
    position: relative;

    .sh-name {
      position: absolute;
      right: 0;
    }
  }

  .add-row {
    color: blue;
    float: right;
    font-size: 12px;
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }
  }

  .sign-text {
    min-width: 60px;
    max-width: 60px;
    cursor: pointer;
    height: 26px;
    line-height: 26px;
  }

  .sign-img {
    min-width: 60px;
    max-width: 60px;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: calc(100% - 0px);
      height: calc(100% - 0px);
      object-fit: cover;
    }
  }

  td[datakey='signerNo'] {
    display: none;
  }

  td[datakey='sign'] {
    display: table-cell;
  }

  td[datakey='auditorNo'] {
    display: none;
  }

  td[datakey='audit'] {
    display: table-cell;
  }

  .towLine {
    line-height: 13px !important;
  }
}
